* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items {
  width: 420px;
}

.items__item {
  display: inline-block;
  height: 70px;
  width: 70px;
  text-align: center;
  background-color: black;
  line-height: 70px;
}

.items__item img {
  height: 50px;
  width: auto;
}

.upgradeCosts {
}

.upgradeOption {
  background-color: #fffacd;
  border: 2px solid chocolate;
  margin-top: 15px;
  width: 300px;
  margin-left: 20px;
  padding: 5px;
}

.upgradeOption ul {
  list-style-type: none;
}

.upgradeOption__small {
  font-size: 12px;
  display: block;
}

.upgradeOptionsContainer {
  display: flex;
  flex-wrap: wrap;
}

.multipleSimulationsLoopContainer {
  padding: 15px;
}

.newLine {
  display: block;
}

.doSimulationBtn {
  padding: 5px;
}

.upgradeProccess {
  margin: 20px;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.singleSpin {
  background-color: #fffacd;
  border: 2px solid chocolate;
  margin-top: 15px;
  width: 250px;
  margin-left: 5px;
  padding: 5px;
}

.singleSpin ul {
  padding-left: 20px;
}

.singleSpin li {
  /* margin-left: -10px; */
}
